.list-module {
    margin-left: 2svw;
    height: 95svh;
    width: 32svw;
    display: flex;
    flex-direction: column;
}

.list-name {
    font-size: larger;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

.main-div {
    display: flex;
    flex-direction: row;
}

.options-div {
    height: 5svh;
    margin-top: 2svh;
    display: flex;
    justify-content: space-between;
}

.date-options {
    padding-top: 2svh;
    padding-left: 3svh;
    vertical-align: middle;
    display: inline-flex;
}

.link-btn:hover {
    color: #ccccff;
}

.link-btn {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    display: inline-flex;
    cursor: -webkit-pointer;
    cursor: pointer;
}

.task-btn {
    padding-top: 2svh;
    padding-right: 3svh;
}

.card-btn {
    padding-right: 0;
    padding-left: 3px;
}

.new-task-text {
    margin: 0;
    margin-right: 3px;
}

.date-text {
    margin: 0;
}

.text-line {
    text-decoration: line-through;
}

.card-content-text {
    margin-top: 1svh !important;
}

.card-content-assigment {
    margin-left: auto;
    vertical-align: middle;
    display: inline-flex;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.card-action-buttons {
    margin-left: auto;
}

.card-assigment-text {
    margin-top: 0 !important;
    margin-left: 5px;
}

.card-done-text {
    color: #808080;
}

.svg-done {
    filter: invert(54%) sepia(0%) saturate(545%) hue-rotate(230deg)
        brightness(92%) contrast(84%);
}
