@import url("https://fonts.googleapis.com/css2?family=Inter+Tight");

body {
    margin: 0;
    font-family: "Inter Tight", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: "Inter Tight", sans-serif;
    font-size: medium;
}
.input-txt {
    width: 100%;
    min-height: 38px;
    border: #d3d3d3 solid 1px;
    border-radius: 4px;
    outline-color: #2684ff;
    box-sizing: border-box;
    padding: 2px 8px;
    font: inherit;
}

label {
    margin-bottom: 2px;
    margin-top: 15px;
}

.input-txt::placeholder {
    color: hsl(0, 0%, 50%);
}

label {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ececec;
}
