@import url("https://fonts.googleapis.com/css2?family=Inter+Tight");

body {
    margin: 0;
    font-family: "Inter Tight", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: "Inter Tight", sans-serif;
    font-size: medium;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ececec;
}
